@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");
body{
  font-family: 'Open Sans', sans-serif;;
  font-weight: bool;
  background-color: #f5f5f5;
  font-size: 16px;
  color: yellow;
  line-height: 20px;
}

h1, h2, h3 {
  font-family: 'Courier New', Courier, monospace;
  color: orange;
  font-size: 25px;
  line-height: 15px;
}

a {
  color: aqua;
  text-decoration: none;
  font-weight: bold;
}

a:hover{
  color: yellowgreen;
  text-decoration: underline;
}

.container {
  width: 50vw;
  margin: 0 auto;
}

.card{
  background: linear-gradient(45deg, salmon, blueviolet);
  border: 3px solid rgb(254, 127, 0);
  box-shadow: 5px 5px 5px orangered;
  border-radius: 25px;
  padding: 30px;
  margin-bottom: 30px;
}
#card-noborder{
  border: none;
}

.img-circle {
  border-radius: 50%;
  border: 10px double white;
}

.text-center {
  text-align: center;
}

.card-white {
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
}

li {
  display: inline-block;
  padding: 0px 20px;
  list-style: none
}

button {
  width: 100px;
  height: 30px;
  font-weight: 700;
  border-radius: 5px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    min-width: 300px;
  }
}
